---
layout: single  
---

<!-- classes: wide -->

<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {
    inlineMath: [['$','$'], ['\\(','\\)']],
    processEscapes: true
  }
});
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

{{content}}

{% raw %}
{% if site.isso.script_src %}
  <script data-isso="{{site.isso.data_isso}}" src="{{site.isso.script_src}}"></script>
  <section id="isso-thread"></section>
{% endif %}
{% endraw %}